#projects {
    text-align: center;
  }
  
  #projects h2 {
    margin-bottom: 2rem;
  }
  
  #projects .project-image {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  #projects .project-image:hover {
    transform: translateY(-5px);
  }
  
  #projects .project-image img {
    object-fit: contain;
    height: 200px;
    padding: 1rem;
  }